
<div class="main-page">
  <div class="section">
    <div class="header">
      <h2>My Lists</h2> <button (click)="addList()" class="add-button">+</button>
    </div>
    <app-list
      *ngFor="let list of (allLists$ | async)"
      (click)="selectList(list.id)"
      [listTitle]="list.title"
      [current]="(currentList$ | async).id === list.id"
      (delete)="deleteList(list.id)"
    ></app-list>

  </div>

  <div class="list-detail">
    <app-list-detail></app-list-detail>
  </div>
</div>
